.add-book-page {
  min-height: 100vh;
  background-color: #E4D6A9;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}
.add-book-page h1 {
  font-style: italic;
  color: #3b2f1f;
  margin-bottom: 20px;
}
.add-book-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: rgba(255, 255, 255, 0.6);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  width: 400px;
  margin: 0 auto; 
}
.add-book-form label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  color: #3b2f1f;
}

.add-book-form input {
  padding: 10px;
  margin-top: 5px;
  border: none;
  border-radius: 6px;
  outline: none;
}

.add-book-form button {
  padding: 10px;
  background-color: #3b2f1f;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.add-book-form button:hover {
  background-color: #000;
  transform: scale(1.05);
}
.add-book-title {
  font-size: 2.5rem;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
} 
 
